@import '~summernote/dist/summernote.css';
@import '~bootstrap4-tagsinput-douglasanpa/tagsinput.css';
@import '~toastr/toastr.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import 'vendor/template/custom.css';
@import 'vendor/template/style.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Open Sans, Helvetica, Arial, sans-serif !important;
}

body a:hover, a:focus {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
}

.home-icon {
  display: block;
  position: relative;
  top: 2vh;
  left: 45%;
  color: #487eb0;
}

.logo a:hover {
  text-decoration: none;
}

.avatar a img {
  width: 40px;
  height: 40px;
}

.env {
  position: relative;
}

a#notification-icon.active:after {
  position: absolute;
  background: red;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid red;
  content: " ";
  white-space: pre;
  top: 0vh;
  right: 25%;
}

.avatar .status {
  width: 1rem;
  height: 1rem;

}

.login-social a {
  width: 100%;
  display: block;
  padding: 10px;
}

.login-social i {
  display: inline-block;
  border-radius: 100%;
  background: #487eb0;
  margin-right: 20px
}

.login-section i {
  background: #487eb0;
  padding: 10px;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
}

.login-section .dropdown-menu {
  min-width: 320px;
  padding: 30px;
  line-height: 20px;
  top: 50px;
}

.login-section b {
  margin-left: 15px;
}


.login-area {
  margin-top: 15px;
}

.nav-item a {
  text-transform: uppercase;
  border: none !important;
}

ul.nav.nav-tabs {
  border-bottom: none;
}

li.nav-item.active a {
  background-color: #ccc;
}

.login-section .alert {
  margin-top: 20px;
}

.content .container {
  margin-top: 10px;
}

.tp-banner {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 400px;
  background-image: url("https://i.pinimg.com/originals/68/33/29/6833299a253e8ca441393ac9a4841b8e.jpg")
}

.post .avatar {
  top: 3vh;
  left: 20%;
}

.post .avatar img {
  display: block;
  margin: 0 auto;
}

.post .tags {
  padding-inline-start: 0px;
}

li.badge a {
  color: #fff;
  text-decoration: none;
}

.navigation-bar .list-group a {
  display: inline-block;
}

.navigation-bar .list-group a:hover > li {
  background-color: #95a5a6;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;

  color: #2c3e50;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;

  padding-bottom: 15px;
  border-bottom: 2px solid;
}

.navigation-bar a.active li {
  background-color: #95a5a6;
  color: #2c3e50;
  padding-bottom: 15px;
  border-bottom: 2px solid;
}

.item-wrapper {
  width: max-content;
  margin: 0 auto;
  margin-top: 20px;
}

li.navigation-item {
  padding: 15px;
  background: #487eb0;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  margin: 0 20px;
  min-width: 90px;
  padding-bottom: 17px;
  border-radius: 20px;
  text-align: center;
}

ul.notification {
  min-width: 320px;
  line-height: 2;
  padding-inline-start: 20px;
}

.notification i {
  color: #487eb0;
}

.sidebarblock h3 {
  color: #363838;
  font-family: 'Open Sans Bold', sans-serif;
  margin: 0;
  padding: 20px;
}

.comment-body {
  padding-left: 40px;
  padding-top: 15px;
}

.user-name {
  font-weight: bold;
  color: #7f7f7f;
}

.posttext h2 {
  font-weight: 600;
}

button#btnComment {
  margin-bottom: 5px;
}

.d-none {
  display: none;
}

.cats .btn {
  width: 100%;
  margin-bottom: 15px
}

.notify-success {
  border: dashed green
}

.wrap {
  height: 46px
}

.panel {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 50px #ccc;
  box-shadow: 0 10px 50px #ccc;
  color: #333
}

.info-list {
  list-style: none
}

.info-list li {
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.info-list li p {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
}

.info-list li i {
  padding: 10px 5px 10px 5px;
  min-width: 80px;
  text-align: left;
  border: 1px solid black;
  border-radius: 5%;
}

.info-list li i span {
  font-family: "Roboty", sans-serif;
}

ul.activity-list {
  list-style: none;
  height: inherit;
}

.activity-list li {
  margin-bottom: 15px;
  margin-top: 20%;
}

.activity-list li a {
  width: 100%;
}

.activity-list a.btn-primary {
  background: #487eb0;
  border-color: #487eb0;
  padding-bottom: 14px;
}

.activity-list a.btn-primary:hover {
  background-color: #95a5a6;
  transition: background-color 1s;
  color: #2c3e50;
  transition: color 1s;
  padding-bottom: 12px;
  border-bottom: 2px solid;
}

img.avatar-img {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 5px solid #487eb0;
  padding: 1px;
  box-shadow: 0px 10px 10px #333;
}

a.change-avatar:hover > .avatar-img {
  background: #333;
}

.heading h3 {
  text-align: center;
  font-weight: bold;
}

.post .comments .commentbg, .post .comments .commentbg .mark {
  background-color: #487eb0;
}

ul.cats .badge {
  background-color: #487eb0;
}

.search-section button {
  border: solid 1px #487eb0;
  box-shadow: none;
  background-color: #487eb0;
  color: #ffffff;
  padding: 8px;
  font-size: 18px;
  width: 10%;
}

.search-section input {
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 10px;
  width: 80%;
  vertical-align: middle;
}

.search-section {
  margin-bottom: 15px;
}

.user-panel {
  height: 21vh;
  padding: 20px;
}

.author-name {
  padding: 2px;
  margin-bottom: 5px;
}

.author-name h3 {
  text-align: center;
  margin: 0;
}

.author-img img {
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #487eb0;
  padding: 5px;
}

.author-info {
  vertical-align: middle;
  line-height: 30px;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 15px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  box-shadow: 1px 0px 10px #ccc;
}

.section-follow button {
  width: 100px;
}

.section-follow button i {
  margin-right: 5px;
}

.section-follow {
  text-align: center;
}

.comment-section {
  box-shadow: none;
}

i.fa.fa-edit.edit-btn {
  position: absolute;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  width: 100%;
  line-height: 4;
  opacity: 0;
}

a.change-avatar:hover > .edit-btn {
  opacity: 1;
}

.stnt a {
  margin-top: 5px;
}

.welcome {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}

.notify-title {
  color: #494949;
}

.recommendPost {
  font-family: "Roboto", sans-serif;
}

.recommendPost h2 {
  color: #363838;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
}

.recommendPost .content {
  font-size: 13px;
  min-height: 50px;
}

span.category {
  width: 100%;
  border: 2px solid;
  border-radius: 9%;
  padding: 5px;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  border-color: #7f7f7f;
}

.blocktxt.recommendPost {
  box-shadow: 0px 5px 50px -20px #333;
  margin-top: 15px;
}

.recommend-section {
  padding: 10px;
}

.title {
  min-height: 30px;
}

ul.browse-widget-filter {
  list-style: none;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

.browse-widget-filter i {
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  border: 1.5px solid white;
  border-radius: 10px;
  background: #487eb0;
  color: white;
}

.browse-widget-filter a:hover {
  color: inherit
}

.browse-widget-filter a:hover i {
  border-color: #2c3e50;
  background: #95a5a6;
  color: #2c3e50;
  -webkit-transition: color 1s, border 1s;
  -moz-transition: color 1s, border 1s;
  -ms-transition: color 1s, border 1s;
  -o-transition: color 1s, border 1s;
  transition: color 1s, border 1s;
}

button.load-more {
  background: none;
  border: none;
  width: 100%;
}

button.load-more i {
  border: 1px solid #2c3e50;
  padding: 0px 5px;
  border-radius: 50%;
  background-color: #487eb0;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
}

.browse-widget-search button {
  border: solid 1px #487eb0;
  background-color: #487eb0;
  color: #ffffff;
  font-size: 18px;
}

.browse-widget-search button:hover {
  background-color: #95a5a6;
  border: solid 1px #2c3e50;
  color: #2c3e50;
  font-size: 18px;
  -webkit-transition: color 1s, border 1s;
  -moz-transition: color 1s, border 1s;
  -ms-transition: color 1s, border 1s;
  -o-transition: color 1s, border 1s;
  transition: color 1s, border 1s;
}

.browse-widget-search input {
  padding: 11px;
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

.browse-widget-search {
  text-align: center;
  position: relative;
}

.post.notification-heading h2 {
  text-align: center;
  padding: 15px;
}

.left-sidebar h3, i{
  color: #2c3e50;
}

.fade.show {
  opacity: 1;
}

.modal-backdrop.show {
  opacity: 0.5
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

#previewImage {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.avatar img {
  width: 44px;
  height: 44px;
}

ul.dropdown.autocomplete {
  position: absolute;
  background-color: white;
  height: fit-content;
  list-style: none;
  width: 265px;
  left: 25px;
  z-index: 1;
  text-align: left;
  box-shadow: 10px 0 50px #ccc;
}

ul.dropdown.autocomplete li {
  padding: 5px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  text-transform: capitalize;
}

ul.dropdown.autocomplete li:hover {
  background-color: #ccc;
}
