@import '~summernote/dist/summernote-bs4.css';
@import '~bootstrap4-tagsinput-douglasanpa/tagsinput.css';
@import '~toastr/toastr.scss';

#accordion .panel-heading .panel-title a:hover{
  background-color: #8ee293 !important;
}

.dropdown-menu>li>a:hover {
  background: none;
  color: #fff;
}

.btn-tags {
  margin-bottom: 10px;
  color: #b2b2b2;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
}
